<div class="container">
    <div class="row">
     <div class="col-md-6">
  <div class="card">
    <div class="text-center">
      <h1>Create Books</h1>     
    </div>
    <form>
      <form>
        <div class="mb-3">
          <label for="exampleInputTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleInputleTitle" >         
        </div>
        <div class="mb-3">
            <label for="exampleInputCat" class="form-label">Category</label>
            <input type="text" class="form-control" id="exampleInputCat" >         
        </div>
        <div class="mb-3">
            <label for="exampleInputImage" class="form-label">Image</label>            
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
              </div>        
        </div>
        <div class="mb-3">
            <label for="exampleInputPrice" class="form-label">Price</label>
            <input type="text" class="form-control" id="exampleInputPrice" >         
        </div>
        <div class="mb-3">
            <label for="exampleInputPublisher" class="form-label">Publisher</label>
            <input type="text" class="form-control" id="exampleInputPublisher" >         
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Active</label>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

        <button type="button" class="btn" style="color:beige;background-color:black;">Add</button>
      </form>
    </form>
  </div>
     </div>
    </div>
  </div>
