<div class="container">
    <div class="row">
     <div class="col-md-6">
  <div class="card">
    <div class="text-center">
      <h1>Search for Book</h1>     
    </div>
    <form>
      <form>
        <div class="mb-3">
          <label for="exampleInputTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleInputleTitle" >         
        </div>
        <div class="mb-3">
            <label for="exampleInputAuth" class="form-label">Author</label>
            <input type="text" class="form-control" id="exampleInputAuth" >         
        </div>
        <div class="mb-3">
            <label for="exampleInputPublish" class="form-label">Publisher</label>
            <input type="text" class="form-control" id="exampleInputPublish" >         
        </div>
        <div class="mb-3">
            <label for="exampleInputReldate" class="form-label">Relesed Date</label>
            <input type="date" class="form-control" id="exampleInputReldate" >         
        </div>
          
       
       
        <button type="button" class="btn" style="color:beige;background-color:black;">Search</button>
      </form>
    </form>
  </div>
     </div>
    </div>
  </div>
